# ── PostgreSQL Docker ─────────────────────────────────────────
# Usar el nombre del servicio Docker, NO host.docker.internal
DATABASE_URL=postgresql+asyncpg://admin:admin123@postgres:5432/gimnasio

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=gimnasio
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123

# ── Seguridad ─────────────────────────────────────────────────

SECRET_KEY=HQkLykWcuz1VTeMcM5jK685TQhEvuh8nRAN7IOZ23Iw=
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=7

# ── CORS ──────────────────────────────────────────────────────
ALLOWED_ORIGINS=["137.184.51.90"]

# ── Email ─────────────────────────────────────────────────────
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu@email.com
SMTP_PASSWORD=tu_app_password
EMAILS_FROM_EMAIL=noreply@tugym.com
EMAILS_FROM_NAME=GymPro
